$scheme: green;

$bodyBackground: darken($baseColor, 23%);
$tableBackgroundAccent: lighten($bodyBackground, 3%);
$inputBackground: darken(gray, 10%);
$textColor: lighten($bodyBackground, 30%);
$tableBorder: lighten($bodyBackground, 20%);

