$bodyBackground: darken(gray, 20%);
$tableBackgroundAccent: lighten($bodyBackground, 10%);
$inputBackground: darken(gray, 10%);
$textColor: white;

@import "bootstrap_loader";
@import "bootstrap_overrides";


#display {
	height: 100%;
	color: white;
}

#display-box {
	font-size: 1.2em;
	padding-top: 10px;
}

#display-table th {
	background-color: darken($bodyBackground, 10%);
	color: white;
	font-weight: normal;
}

#display-table td {
}

#display-table .category-name {	
	width: 10%;
	td {
		font-weight: bold;
	}
}

#display-table .spec-name {
	width: 15%;
}

#display-table .spec-limit {
	width: 10%;
	padding-left: 2em;
	padding-right: 2em;
}

#display-table .spec-value {
	width: 20%;
	color: white;
	font-weight: bold;
}

#display-table .right-margin {
	width: auto;
}

#display-table .category-header {
	background-color: #E5E5E5;
}

#display-header .spec-header {
	padding-left: 2em;
	padding-right: 2em;
}

#item_id {
	color: lighten(gray, 20%);
}


