
form {
	margin: 0;
}

.form-inline {
	padding: .5em;
}

.display-box {
	font-size: 1.5em;
}

.spec-name {
	width: 20%;
}

.spec-limit {
	width: 10%;
}

.spec-value {
	width: 20%;
	color: blue;
}

.right-margin {
	width: auto;
}

thead {
	background-color: #B2B2B2;
}