
@import "colors";
@import "display_media"; //Sizing for all boxes
$base-font-size: 125%;
$tab: 5px;

.display-box {
	@include display_box_height;
	@include display_box_width;
	float: left;
	border-style: solid;
	border-width: $b;
	border-color: $display-border-color;
	border-radius: 10px;
	margin-left: $ml;
	margin-right: $mr;
	padding-top: $pt;
	padding-bottom: $pb;
}

.display-title-box {
	float: left;
	width: auto;
	height: 60px;
}

.display-title-label {
	margin-left: 5px;
	margin-right: 10px;
}

.display-body-box {
	@include display_body_box_height;
	float: left;
	width: 100%;
	overflow: scroll;
	overflow-x: hidden;
	margin-top: $mt_body;
	margin-bottom: $mb_body;
}

.display-item-select {
	font-size: $base-font-size * 1.2;
	color: $dark-color;
	background-color:$background-color;
}

.display-category {
	float: left;
	height: 50px;
	font-size: $base-font-size;
	color: $text-color;
	font-weight: bold;
	margin-left: 2 * $tab;
	margin-right: 1em;
	margin-top: 20px;
	width: 100%;
}

.display-body-box-0 {
	width: 100%;
	float: left;
	height: 40px;
	background-color: $odd-back-color;
}

.display-body-box-1 {
	width: 100%;
	float: left;
	height: 40px;
	background-color: $even-back-color;
}

.display-body-label {
	float: left;
	width: 30%;
	font-size: $base-font-size;
	color: $text-color;
	margin-left: 5 * $tab;
	margin-right: 1em;
	margin-top: 7px;
}

.display-body-value {
	float: left;
	font-size: $base-font-size;
	color: $dark-color;
	margin-top: 7px;
}