/* 
    Document   : flash.css
    Created on : Mar 4, 2012, 3:27:16 PM
    Author     : ctuttle
    Description:
    Purpose		 :
*/

.flash {
	float: left;
	padding-left: 10px;
	padding-top: 7px;
	width: auto;
	vertical-align: middle;
}


.error, .alert, .notice, .success, .info {
	padding: 0.3em 20px;
	border:2px solid #ddd;
	font-size: 80%;
	font-family: Arial, Helvetica, sans-serif;
}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}