
@import "colors";
@import "media";

$font_family: Arial, Helvetica, sans-serif;
$left_column_width: 200px;

// Page layout

body {
	height: 100%;
	background-color: $body-background-color;
	font-family: $font_family;
}

section {
	display: block;
}

.page_header {
	top: 0;
	width: 100%;
	height: 40px;
	background-color: $header-background-color;
	margin: 0;
}

.page_body {
	@include page_body_height;
	top: 40px;
	clear: both;
	background-color: $page-background-color;
	overflow: hidden;
	padding-left: $page-padding-l;
	padding-right: $page-padding-r;
	padding-top: $page-padding-t;
}

.left_box {
	@include left_width;
	float: left;
  width: $left_column_width;
	height: 100%;
	margin: 2px 10px;
}

.right_box {
	@include right_width;
	height: 100%;
	margin-top: 0; 
	margin-right: 0;
	margin-bottom: 0;
  margin-left: 0;
	overflow: hidden;
}

.inline-controls {
	display: inline;
}

.paginate {
	font-size: .8em;
}


// Text

h1, h2, h3, h4, h5, h6, p {
	color: $text-color;
}

h4 {
	margin: 4px 2px 6px 2px;
}

h5 {
	font-size: 1em;
}

textarea {
	padding: 2px;
	margin: 4px 4px 4px 10px;
	font-family: $font_family;	
}

.header_text {
	font-size: 80%;
}


// Images

img {
		opacity:0.4;
		filter:alpha(opacity=40); /* For IE8 and earlier */
	}

// Links

a {
  color: $nav-text-color;
  text-decoration: underline;
	font-size: 80%;


	a:hover {
		color: $nav-hover-color;
	}

	a:visited {
		color: $nav-text-color;
	}
}

// Navigation

@mixin list-base {
	ul {
		margin: 0;
		padding: 5px;
		font-family: arial;

		li {
			list-style-type: none;
			display: inline-block;
			padding: 0.2em 0;

			a {
				padding: 0 5px;
				font-weight: normal;
				color: $nav-text-color;
				text-decoration: none;
				font-size: 80%;
				}
				
			a:hover {
				color: $nav-hover-color;
				text-decoration: underline;
				font-size: 100%;
				}

			a:visited {
				color: $nav-text-color;
			}
		}
	}
}

nav {
	background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
	
	.user_nav {
		float: left;
		@include list-base;
	}
	
	.right_nav {
		float: right;	
		@include list-base;
	}
}



	

