
@import "colors";
//$margin_left: 10px;

table {
	border-collapse: collapse;
	//margin-top: 10px;
	//margin-left: $margin_left;
	border-bottom: 3px solid $table-bottom-color;
	//width: 99%;
		
	th, td {
		//font-family:"arial",Verdana,Sans-serif;
		padding-left: 4px;
		padding-right:	4px;
		padding-top:	4px;
		padding-bottom: 2px;
		border-left: 1px solid $border-color;
		border-right: 1px solid $border-color;
		}
	
	th {
		background-color: $header-back-color;
		color: $header-text-color;
		font-size: .9em;
		font-weight: bold;
		vertical-align: bottom;
		}
	td {
		font-size: .8em;
		color: $table-text-color;
		vertical-align: bottom;
		}
	
	.link {
		padding-left: 4px;
		padding-right: 6px;
	}
	
	
}

tbody tr:nth-child(odd) {
	background-color: $odd-back-color;
}

tbody tr:nth-child(even) {
	background-color: $even-back-color;
}

tr.future {
	td {
		color: $future-data-color;
	}
}

tr.past {
	td {
		color: $past-data-color;
	}
}

.checkbox {
	padding-left: 50%;	
}

